$white: #FFFFFF;
$background-gray: #F6F7FF;
$black: #000000;
$desktop-width: 1366px;

$dark: #1F1E25;
$blue: #2C36F2;
$blue-opacity: rgba(44, 54, 242, 0.7);
$footer-darkgrey: #707C87;
$line-grey: #C1C2CA;
$light: #E0E1EA;
$title-light: #F6F7FF;

$button-shadow: 1px 1px 3px 0px rgba(50, 50, 50, 0.75);
