.converter-form {
  @include reset-indent;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.converter-form__control {
  height: 60px;
  margin: 0;
  margin: 23px 0 60px;
  font-family: inherit;
  border: 1px solid $dark;
  border-radius: 4px;
  color: $black;

  &--input {
    @include font(500, 24px, 25px);
    width: 390px;
    padding: 13px 40px;
    text-align: center;
  }

  &--select {
    @include font(500, 30px, 31px);
    position: relative;
    width: 120px;
    margin-left: 15px;
    padding: 12px 16px;
    appearance: none;
    background-image: url("../img/select-caret.svg");
    background-position: right 14px top 23px;
    background-repeat: no-repeat;
  }

  &--select::before {
    top: 179px;
    left: -120px;
    background-image: url("../img/select-caret.svg");
  }

  &--input-date {
    font-weight: 400;
    padding-left: 115px;
    text-align: left;
  }
}

.converter-form__fieldset {
  @include reset-indent;
  display: flex;
  border: none;
}

.converter-form__legend {
  @include reset-indent;
  @include font(500, 22px, 31px);
}

.converter-form__arrows {
  position: relative;

  &::before, &::after {
    @include pseudo();
    width: 53px;
    height: 18px;
    background-image: url("../img/arrow.svg");
  }

  &::before {
    top: 61px;
    left: -24px;
    transform: rotate(180deg);
  }

  &::after {
    top: 79px;
    left: -20px;
  }
}

.converter-form__wrapper {
  position: relative;
}

.converter-form__calender {
  position: absolute;
  top: 27px;
  right: 18px;
  width: 43px;
  height: 46px;
  padding: 3x;
  background-color: $white;
  border: none;
  background-image: url("../img/calender.svg");
  background-size: 39px 42px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;

    &:hover,
    &:focus {
      box-shadow: $button-shadow;
    }

    &:active {
      top: 28px;
      right: 17px;
   }
}

.converter-form__button {
  margin: 23px 0 60px auto;
  padding-left: 108px;
  padding-right: 100px;
  border: none;
}

.converter-form__spinner-text {
  margin: auto;
}
